/* FILEPATH: /c:/Users/jcortes/Desktop/Projects/Create-Streetview/Create-Streetview/css/index.css */

/* Header */
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: #f8f9fa;
}

header {
  background-color: #007bff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0;
}

header #logo {
  padding-left: 1em;
  height: 3em;
}

header #logo img {
  height: 100%;
}

header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1em;
  gap: 1em;
}

header nav a {
  text-decoration: none;
  color: #f8f9fa;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: bold;
}

header nav a:hover {
  color: #c6c7c8;
}

/* Main */

main {
  margin-top: 4em;
}

/* Welcome Banner */

#welcome-banner {
  background: url(https://images.unsplash.com/photo-1601236414929-677713b2d078?q=80&w=1590&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)
    no-repeat center center/cover;
  color: #f8f9fa;
  height: 25em;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 1em;
}

.welcome-message {
  display: flex;
  flex-direction: column;
  width: 65%;
}

#welcome {
  font-family: "Roboto", sans-serif;
  font-size: 2.5em;
  font-weight: bold;
}

#description {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
}

.Get-Started {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.25em 0.5em;
  margin-top: 1em;
  border: none;
  border-radius: 1em;
  background-color: #ffc107;
  color: #343a40;
  text-align: center;
}
